DirectoryIndex index.html index.php

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^quiz$ quiz/ [R=301,L]
  RewriteRule ^success$ success/ [R=301,L]
  RewriteRule ^offer$ offer/ [R=301,L]
</IfModule>
